body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;

}

.banner {
  background-color: black;
  color:white;
  height:50px;
  width:100%;
  position: fixed;
  top:0;
  left:0;
  overflow: hidden;
  z-index: 999;
}

.groopy-menu-icon {
  width:30px;
  text-align: center;
}

.search-bar {
  top: 0px;
  color: white;
  position: fixed;
  white-space: nowrap;
  z-index: 999;
}

.groopy-nav {
  display:inline;
  position: relative;
}

.groopy-nav-item {
  padding-left: 20px;
}

.grid-info {
  width: 750px;
  height: 750px;
  background-color: #f3f5f6;
  text-align: center;
}

.splash {
  font-size: 50px;
  width: 750px;
  height: 750px;
  background-color: #f3f5f6;
  text-align: center;
  cursor: wait;
}

.splash-inner {
  position: absolute;
  padding-top: 350px;
  width:750px;
  height:750px;
}

.logo {
  padding-left: 0px;
}

.logo img {
  height: 50px;
  width: 183px;
}


.groopy-search-box {
  display:inline;
  position:relative;
  top:3px;
}

.search-input {
  position:relative;
  margin: 0;
  width: 200px;
  height:32px;
  font-size: 16px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  color:black;
  background-color: #f3f5f6;
  border: 0;
  outline:0;
  padding-left:10px;
  margin-right: -4px;
}

.groopy-search-icon {
  background-color: #f3f5f6;
  padding-left: 4px;
  padding-top: 8px;
  padding-right: 4px;
  padding-bottom: 7px;
}

.fa-search {
  color:#404040;
}


.sort-dropdown {
  display: block;
  position: relative;
  margin: 0;
  width: 170px;
  height: 20px;
  font-size: 16px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  cursor:pointer;
}

.group-dropdown {
  display: block;
  position: relative;
  margin: 0;
  width: 120px;
  height: 20px;
  font-size: 16px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  cursor:pointer;
}

.groopy-btn-group {
  display: inline-block;
  position: relative;
  height:50px;
}

.groopy-admin-dropdown {
  display: block;
  position: relative;
  margin: 0;
  width: 170px;
  height: 20px;
  font-size: 16px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  cursor:pointer;
}




.content {
  width: 750px ;
  margin-left: auto ;
  margin-right: auto ;
  padding-top: 75px;
}

.pages {
  text-align: center;
  opacity: 1;
  -webkit-transition:all linear 0s;
  transition: all linear 0s;
}



div.bgimg {
  position: relative;
  float:left;
  height:150px;
  width: 150px;
}

div.bltxt {
  opacity: 0.8;
  background-color: #33332d;
  width:150px;
  height:20px;
  position:absolute;
  bottom:0px;
  text-align: left;
  color: #fff0a5;
  cursor: default;
}

a.photolink:visited {
    color: #fff0a5;
}

a.photolink:link {
    color: #fff0a5;
}

div.brtxt {
  bottom:0px;
  position: absolute;
  cursor:pointer;
  text-align: center;
  width:20px;
  height:20px;
  left:130px;
  font-size: 10px;
  padding-top: 3px;
}

div.tltxt {
  position: absolute;
  top: 0;
  width: 75px;
  text-align: left;
  text-decoration: none;
  color: #fff0a5;
  cursor: default;
}

div.trtxt {
  position: absolute;
  top: 0;
  width: 75px;
  left: 75px;
  text-align: right;
  text-decoration: none;
  color: #fff0a5;
  cursor: default;
}

.goodbyeLink {
  padding-right: 3px;
  position: relative;
  font-size: 10pt;
}

a.goodbyeLink:visited {
    color: #fff0a5;
    text-decoration: none;
}

a.goodbyeLink:link {
    color: #fff0a5;
    text-decoration: none;
}

.tooltip.groopy-tooltip .tooltip-inner {
  background-color: #f0f0f0;
  color: #404040;
  font-size: 12pt;
}

.tooltip.groopy-tooltip .tooltip-arrow {
  border-bottom-color: #f0f0f0;
}

.groopy-tooltip-detail {
  font-size:8pt;
}


.waiting {
  width:150px;
  height:150px;
  opacity: 0.8;
  background-color: black;
  text-align: center;
  color: white;
  cursor: wait;
  -webkit-transition:all linear 1s;
  transition: all linear 1s;
}

.waiting.ng-hide {
  opacity:0;
}

.inner {
  position: absolute;
  padding-top: 65px;
  width:150px;
  height:150px;
  color:white;
}

.addgroup {
  border-width: 20px;
  border-color: #db4105;
  border-style: solid;
  position: absolute;
  opacity: 0.8;
  width: 150px;
  height: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: opacity linear 1s;
  transition: opacity linear 1s;
}

.addgroup.ng-hide {
  opacity:0;
}

.movegroup {
  border-width: 20px;
  border-color: #468966;
  border-style: solid;
  position: absolute;
  opacity: 0.8;
  width: 150px;
  height: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: opacity linear 1s;
  transition: opacity linear 1s;
}

.movegroup.ng-hide {
  opacity:0;
}

.goodbyegroup {
  border-width: 20px;
  border-color: #80176B;
  border-style: solid;
  position: absolute;
  opacity: 0.8;
  width: 150px;
  height: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity linear 1s;
  transition: opacity linear 1s;
}

.goodbyegroup.ng-hide {
  opacity:0;
}

.main_content {
  opacity: 1;
  -webkit-transition:all linear 1s;
  transition: all linear 1s;
}

.main_content.ng-hide {
  opacity:0;
  height: 0px;
}

.pages.ng-hide {
  opacity:0;
  height: 0px;
}

.groopy-error-text {
  color:red;
  font-size: 25pt;
  text-align: center;
}

.pagination>.active>a {
  border-color:#404040;
  background-color: #404040;
  color: #ffffff;
}

.pagination>li>a, .pagination>li>span {
  color: #404040;
}

.page-container {
  height:74px;
}


.about_content {
  width: 752px;
  height: 752px;
  background-color: white;
  opacity: 0.9;
  text-align: center;
  position: fixed;
  top:74px;
  padding: 50px;
  font-size: 20pt;
  -webkit-transition: opacity linear 0.25s;
  transition: opacity linear 0.25s;
}

.about_content.ng-hide {
  opacity:0;
}

.help_content {
  width: 752px;
  height: 752px;
  background-color: white;
  opacity: 0.9;
  text-align: center;
  position: fixed;
  top:74px;
  padding: 50px;
  font-size: 18pt;
  -webkit-transition: opacity linear 0.25s;
  transition: opacity linear 0.25s;
}

.help_content.ng-hide {
  opacity:0;
}

.groopy-close-button {
  cursor: pointer;
  position: absolute;
  font-size: 30pt;
  top: 0;
  left: 10px;
}

.help-image-container {
  display:block;
}
